<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.craness.amb-colly.run</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/danielrahman/Sites/craness/amb-colly/amb-colly.sh</string>
        </array>
        <key>StartInterval</key>
        <integer>900</integer>
        <key>StandardOutPath</key>
        <string>/var/log/amb-colly.log</string>
        <key>StandardErrorPath</key>
        <string>/var/log/amb-colly-errors.log</string>
    </dict>
</plist>
